baud: 115200
port: /dev/ttyUSB0
controllers: {
  joint_controller_1: {
    type: joint_controller,
    joints: [joint_1, joint_2, joint_3],
    publish_joint_states: true,
    publish_rate: 10
  },
  joint_controller_2: {
    type: joint_controller,
    joints: [joint_4, joint_5],
    publish_joint_states: true,
    publish_rate: 10
  }
}

joints: {
  joint_1: {channel: 0, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  joint_2: {channel: 1, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  joint_3: {channel: 2, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  joint_4: {channel: 3, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  joint_5: {channel: 4, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false}
}
